{% extends "auctions/layout.html" %}

{% block body %}
    {% if categories %}
        <h2>Categories</h2>
        {% for item in categories %}
            <a href="{% url 'category' item.category %}"><div class="category">{{ item.category }}</div></a>
        {% endfor %}
    {% else %}
        {% if category %}
            <h2>Category: {{ category }}</h2>
        {% else %}
            <h2>Active Listings</h2>
        {% endif %}
        <div class="container-fluid">
            {% for item in items %}
                <div id="lst" class="row my-4 py-2 mx-1">
                    <div class="col-4">
                        <img src="{{ item.url }}" alt="listing" height="auto" width="200px">
                    </div>
                    <div class="col-8">
                        <a href="{% url 'listing' item.id %}">
                            <h4>{{ item.title }}</h4>
                        </a>
                        <h6>Price: ${{ item.starting_bid }}</h6>
                        <p>{{ item.description }}</p>
                        <p class="text-muted">Created {{ item.pub_time|date:"M j, Y, P" }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}